@media screen and (min-width: 900px) {

    #content{
        display: block;
        margin: auto;
        margin-top: 3rem;
    }

    #agebox > h1 {
        font-size: 2rem;
    }

    #agebox > p {
        font-size: 1.5rem;
    }




}